.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
    max-height: 800px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: white;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details{
    color: gray;
    font-size: 15px;
}

#nav {
    background:#06a;
    padding:10px 20px;
    text-align:center;
    color:#f6dde3;
}

#header {
    margin:0 1px;
    padding-bottom: 10px;
}

#bg {
    height:36px;
    background-color: blue;
}